<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<div id="wrapper" style="background-color: #f6f9ff" >
<div class="main-content scroll">
  <div class="row  user-table">
    <div class="col-md-12 col-xs-12">
      <div class="card">
        <div class="card-header py-4">
          <h4 style="color: #1a3975 " class="title text-secondy font-weight-bold">List user</h4>
          <div class="form-field">
            <input #inputName name="search" [(ngModel)]="keywordName" (keyup)=(searchByCodeOrName(inputName.value)) type="text" id="name" class="form-input" placeholder=" ">
            <label for="name" class="form-label">Search</label>
          </div>
        </div>
        <div class="card-body">
          <div class="content">
            <table class="table table-hover">
              <thead>
              <tr>
                <th style="width: 5%">STT</th>
                <th style="width: 10%">
                  Code
                  <i (click)="sortCode()" class="bi bi-arrow-down-up"></i>
                </th>
                <th style="width: 18%">
                  Name
                  <i (click)="sortName()" class="bi bi-arrow-down-up"></i>
                </th>
                <th style="width: 12%">Identity Card</th>
                <th style="width: 10%">Phone</th>
                <th style="width: 10%">Birth Day</th>
                <th style="width: 10%">
                  Course
                </th>
                <th style="width: 10%">Majors</th>
                <th style="width: 5%; text-align: center;">
                  Status
                </th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <!-- -->
              <tr *ngFor="let user of userList; let i = index">
                <td style="font-weight: 500; width: 59px">
                  {{ i + 1 + (thePageNumber - 1) * thePageSize }}
                </td>
                <td style="font-weight: 500; width: 200px">
                  {{ user?.code }}
                </td>
                <td style="font-weight: 500; width: 270px">
                  <a style="color: black" [routerLink]="['/admin/user/detail', user.code]"
                    >
                  {{ user?.name }}
                  </a>
                </td>
                <td style="font-weight: 500; width: 140px">
                  {{ user?.identityCard }}
                </td>
                <td style="font-weight: 500; width: 140px">
                  {{ user?.phone }}
                </td>
                <td style="font-weight: 500; width: 140px">
                  {{ user?.birthDay | date: "dd/MM/yyyy" }}
                </td>
                <td style="font-weight: 500; width: 140px">
                  {{ user?.course.name }}
                </td>
                <td style="font-weight: 500; width: 180px">
                  {{ user?.majors.name }}
                </td>
                <td class="align-middle text-center d-flex align-items-center justify-content-center"
                    style="font-weight: 500; width: 180px">
                        <span class="notice notice-active" *ngIf="user.account.flag == true; else elseBlock">
                          Active
                        </span>
                  <ng-template #elseBlock>
                    <span class="notice notice-block"> Block </span>
                  </ng-template>
                </td>
                <td class="text-center align-middle">
                  <div class="dropdown">
                    <i style="cursor: pointer" class="fa-solid fa-ellipsis " data-toggle="dropdown" aria-expanded="false"></i>
                    <ul class="dropdown-menu">
                      <li *ngIf="user.account.flag == true; else elseBlock1" class="text-left is-hover dropdown-item" data-toggle="modal"
                          data-target="#removeModal" style="cursor: pointer;" (click)="blockUser(user.account.accountId)">
                        <i class="fa-solid fa-lock"></i>
                        <b>  Block</b>
                      </li>
                      <ng-template #elseBlock1>
                        <li class="text-left is-hover dropdown-item" data-toggle="modal"
                            data-target="#removeModal" style="cursor: pointer;" (click)="unBlockUser(user.account.accountId)">
                          <i class="fa-solid fa-unlock"></i>  <b>  Unblock</b>
                        </li>
                      </ng-template>
                    </ul>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div *ngIf="userList?.length == 0" class="alert alert-warning text-center" role="alert"
               style="background-color: #f2f2f2; color: black">
            <b>User not found</b>
          </div>
          <div class="row" style="margin-left: -25px">
            <div class="col-md-4" style="padding: 25px">
              <span>Show </span>
              <select
                style="height: 25px;width: 50px;-webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 1px 1px rgb(0 0 0 / 5%);border-radius: 3px"
                class="form-control-md" (change)="updatePageSize($event.target)">
                <option selected>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
              </select>
              <span> entries</span>
            </div>
            <div class="col-md-4 text-right" style="padding: 25px">
              <p>
                Showing {{ (thePageNumber - 1) * thePageSize + 1 }} -
                {{ itemPerPage }} of {{ theTotalElements }} entries
              </p>
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-end">
              <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
                              (pageChange)="getListUser()" [boundaryLinks]="true" [maxSize]="3" [rotate]="true">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

