<div id="wrapper">
  <div class="main-content">
    <div class="row small-spacing">
      <div class="col-md-3 col-xs-12">
        <div class="box-content  margin-bottom-20">
          <div class="profile-avatar">
            <h2><i class="fa-solid fa-user-group ico"></i><strong>{{event.name}}</strong>
              -
              <strong>({{event.customer.name}})</strong>
            </h2>
            <h4><i class="fa-solid fa-location-dot ico"></i> {{event.location}}</h4>
          </div>
          <!-- .profile-avatar -->
          <table class="table table-hover no-margin">
            <tbody>
            <tr>
              <td><i class="fa-solid fa-clock ico"></i> Bắt đầu lúc:</td>
              <td>{{event.date | date: 'MMM d, y'}} - {{event.startTime}}</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-clock ico"></i> Kết thúc lúc</td>
              <td>{{event.date | date: 'MMM d, y'}} - {{event.endTime}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      <!-- /.col-md-3 col-xs-12 -->
      <div class="col-md-9 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="box-content card">
              <h4 class="box-title"><i class="fa fa-comments ico"></i>Content</h4>
              <div class="dropdown js__drop_down">
                <!-- gì đấy -->
              </div>
              <!-- /.dropdown js__dropdown -->
              <div class="card-content">
                <div class="row">
                  <div class="col-md-12">
                    <textarea disabled name="" id="" cols="20" rows="10" style="width: 100%">{{event.content}}</textarea>
                  </div>
                </div>
              </div>
              <!-- /.card-content -->
            </div>
            <!-- /.box-content card -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="box-content card">
              <h4 class="box-title"><i class="fa fa-globe ico"></i> Activity</h4>
              <div class="btn-group" style="cursor: pointer;">
                <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                  class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></i></div>
                <ul class="dropdown-menu" style="left: -100px; min-width: 120px;">
                  <li class="padding-top-10 text-left is-hover" data-toggle="modal"
                      data-target="#removeModal" style="cursor: pointer; padding: 8px 30px;" (click)="export(id)" >
                    <i class="fa-solid fa-plus"></i>
                    Export
                  </li>
                  <li class="padding-top-10 text-left is-hover" data-toggle="modal"
                      data-target="#removeModal" style="cursor: pointer; padding: 8px 30px;" >
                    <i class=" fa-solid fa-trash"></i>
                    Delete
                  </li>
                </ul>
              </div>
              <!-- /.dropdown js__dropdown -->
              <div class="card-content">
                <ul class="notice-list">
                  <li  *ngFor="let event of eventList">
                    <a [routerLink]="['/admin/user/detail', event.user.code]">
                                               <span class="avatar bg-primary"><i
                                                 class="glyphicon glyphicon-user"></i></span>
                      <span class="name">{{event.user.name}}</span>
                      <span class="desc">Successfully checked in at {{event.event.name}}</span>
                      <span class="time">{{event.checkin | date: 'MMM d, y, hh:mm:ss a'}}</span>
                    </a>
                  </li>
                </ul>
                <!-- /.notice-list -->
                <div class="text-center margin-top-20"><a *ngIf="thePageSize<theTotalElements" (click)="seeAllActivities()" class="btn btn-default">See All
                  Activities <i class="fa fa-angle-double-right"></i></a></div>
                <div class="text-center margin-top-20"><a *ngIf="thePageSize==theTotalElements" (click)="hide()" class="btn btn-default">Hide  <i class="fa fa-angle-double-left"></i></a></div>
              </div>
              <!-- /.card-content -->
            </div>
            <!-- /.box-content card -->
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.col-md-9 col-xs-12 -->
    </div>
  </div>
  <!-- /.main-content -->
</div>
