<div  id="wrapper" style="overflow: scroll;background-color: #f6f9ff">
<!--    <div class="main-content" style="height: 100vh;">-->
<style>
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
</style>
<div  class="main-content " >
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6 col-lg-4 col-xs-12 col-md-4">
              <div class="event-item card active-event ">
                <div class="card-body">
                  <h3 class="counter text-secondy">{{amountUser}}</h3>
                  <h4 class="box-title text-sm text-primari ">Total number of student</h4>
                  <div class="dropdown js__drop_down text-right mt-2">
                    <div class="icon-tun shadow">
                      <i class="fa-solid fa-users" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="content widget-stat">
                    <div id="bar1" class="progress" style="height: 13px">
                      <div class="progress-bar active progress-bar-success progress-bar-striped bar"
                           style="width: {{changeWith2()}};"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12 col-md-4">
              <div class="event-item card ">
                <div class="card-body">
                  <h3 class="counter text-secondy">{{amountEventUpcoming}}</h3>
                  <h4 class="box-title text-sm ">Upcoming events</h4>
                  <div class="dropdown js__drop_down text-right mt-2">
                    <div class="icon-tun shadow">
                      <i class="fa-brands fa-slack" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="content widget-stat">
                    <div id="bar1" class="progress" style="height: 13px">
                      <div class="progress-bar active progress-bar-success progress-bar-striped bar"
                           style="width: {{changeWith()}};"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12 col-md-4">
              <div class="event-item card  ">
                <div class="card-body">
                  <h3 class="counter text-secondy">{{amountEventFinished}}</h3>
                  <h4 class="box-title text-sm ">Finished events</h4>
                  <div class="dropdown js__drop_down text-right mt-2">
                    <div class="icon-tun shadow">
                      <i class="fa fa-user " aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="content widget-stat">
                    <div id="bar1" class="progress" style="height: 13px">
                      <div class="progress-bar active progress-bar-success progress-bar-striped bar"
                           style="width: {{changeWith1()}};"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-12 col-md-12">
              <div class="box-content card">
                <iframe class="chartjs-hidden-iframe" tabindex="-1"
                                                    style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;">
                </iframe>
                <div id="right-side" class="d-flex justify-content-between position-relative">
                  <h4 class="box-title text-sm chart-title p-2 font-weight-bold">Bar Chart</h4>
                  <div class="filter" style="position: relative !important; top: 0 !important;">
                    <a class="icon cursor-pointer" id="dropdownMenuButton"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bi fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
                      <li (click)="filterMonth()"><a class="dropdown-item" >Month</a></li>
                      <li (click)="filterYear()"><a class="dropdown-item" >Year</a></li>
                      <li (click)="filterAll()"><a class="dropdown-item" >All</a></li>
                    </ul>
                  </div>
                </div>

                <div class="dropdown js__drop_down">
                  <a href="#"
                     class="dropdown-icon glyphicon glyphicon-option-vertical js__drop_down_button"></a>
                </div>
                <canvas baseChart [datasets]="barChartDataEvent" [labels]="barChartLabels"
                        [options]="barChartOptionEvent" [plugins]="barChartPlugins" [legend]="barChartLegend"
                        [chartType]="barChartTypeEvent" [colors]="chartColorsEvent" >
                </canvas>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" id="right-side">
          <div class="row">
            <div class="col-md-12">
              <div class="card">

                <div class="card-header">
                  <h5 class="card-title">Recent Activity <span>| {{textFilter}}</span></h5>
                  <div class="filter">
                    <a class="icon cursor-pointer" id="dropdownMenuButton"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bi fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
                      <li (click)="filterMonth()"><a class="dropdown-item" >Month</a></li>
                      <li (click)="filterYear()"><a class="dropdown-item" >Year</a></li>
                      <li (click)="filterAll()"><a class="dropdown-item" >All</a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">

                  <div class="activity">
                    <div *ngFor="let event of eventUser; let i = index" class="activity-item d-flex">
                      <div class="activite-label">{{calulateDiff(event)}} {{hourTime(event)}}</div>
                      <i [ngClass]="randomColor()" class="bi fa-solid fa-circle activity-badge  align-self-start"></i>

                      <div class="activity-content">{{event.user.name}} checkin with {{event.event.name}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>
                  <div class="filter">
                    <a class="icon cursor-pointer" id="dropdownMenuButton"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bi fa-solid fa-ellipsis"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" aria-labelledby="dropdownMenuButton">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
                      <li (click)="filterMonth()"><a class="dropdown-item" >Month</a></li>
                      <li (click)="filterYear()"><a class="dropdown-item" >Year</a></li>
                      <li (click)="filterAll()"><a class="dropdown-item" >All</a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-body pb-0">

                  <div class="news">
                    <div *ngFor="let event1 of eventList; let i = index" class="post-item clearfix">
                      <img [src]="event1.customer.avatar" alt="">
                      <h4><a href="#">{{event1.name}}</a></h4>
                      <p>Time: {{event1.startTime | date: 'MMM d, y, hh:mm:ss a'}} - {{event1.endTime | date: 'hh:mm:ss a'}}</p>
                    </div>
                  </div>
                </div>

              </div>
              </div>
            </div>
          </div>
      </div>
</div>
</div>
