<div>
  <div style="width: 500px;height:780px;margin-left: 508px;margin-top: -20px" class="modal fade" id="addEventModal"
       tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="height: 50px">
          <h4 class="modal-title" id="addEventModalLabel">Add Event</h4>
          <br>
          <button type="button" class="close" #closeBtn1 data-dismiss="modal" aria-label="Close">
            <span (click)="resetFormEvent()" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formCreate" (ngSubmit)="onAddEvent(formCreate)">
            <div class="form-group">
              <div class="d-flex align-items-center">
                <label style="width: 40%;" for="name">Name:</label>
                <input style="border-radius: 8px" type="text" id="name11" name="name" class="form-control"
                       placeholder="Name" formControlName="name">
              </div>
              <small style="color: transparent">.</small>
              <small *ngIf="(formCreate.controls.name.dirty || formCreate.controls.name.touched) && formCreate.controls.name.errors?.required" style="color: red;margin-left: 130px;">Name can not be left blank</small>
            </div>
            <div class="form-group">
              <div class="d-flex align-items-center">
                <label style="width: 40%;" for="location">Location:</label>
                <input style="border-radius: 8px" type="text" id="location1" name="location" class="form-control"
                       placeholder="Location" formControlName="location">
              </div>
              <small style="color: transparent">.</small>
              <small *ngIf="(formCreate.controls.location.dirty || formCreate.controls.location.touched) && formCreate.controls.location.errors?.required" style="color: red;margin-left: 130px;">Location can not be left blank</small>
            </div>
            <div formGroupName="dateGroup">
            <div class="form-group">
              <div class="d-flex align-items-center">
                <label style="width: 40%;" for="startTime">Start Time:</label>
                <input style="border-radius: 8px" type="datetime-local" id="startTime1" name="startTime" class="form-control"
                       placeholder="Start Time" formControlName="startTime">
              </div>
              <small style="color: transparent">.</small>
            </div>
            <div class="form-group">
              <div class="d-flex align-items-center">
                <label style="width: 40%;" for="endTime">End Time:</label>
                <input style="border-radius: 8px" type="datetime-local" id="endTime1" name="endTime" class="form-control"
                       placeholder="End Time" formControlName="endTime">
              </div>
              <small style="color: transparent">.</small>
              <small style="color: red;margin-left: 130px;" *ngIf="formCreate.hasError('dateError',['dateGroup']) && (formCreate.get('dateGroup').get('endTime').touched || formCreate.get('dateGroup').get('endTime').dirty)">End time must be less than start time</small>
            </div>
            </div>
            <div class="form-group">
              <div class="d-flex align-items-center">
                <label style="width: 40%;" for="exampleFormControlSelect1">Customer:</label>
                <select style="border-radius: 8px" [compareWith]="compareCustomer" class="form-control"
                        id="exampleFormControlSelect2" formControlName="customer">
                  <option [ngValue]="'Default'" disabled>-- Select --</option>
                  <option *ngFor="let customer of customerList" [ngValue]="customer">{{customer?.name}}</option>
                </select>
              </div>
            </div>
<!--            <div *ngIf="submitted">-->
<!--              <app-print-error [control]="customer"></app-print-error>-->
<!--            </div>-->
            <div style="margin-top: 20px" class="modal-footer">
              <button type="button" class="btn" style="background-color: #5A6268;color: white" data-dismiss="modal"
                      (click)="resetFormEvent()">Close</button>
              <button style="width: 67px" [disabled]="formCreate.invalid" type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!--Delete Event Modal-->
<div class="modal fade" id="deleteEventModal" tabindex="-1"
     role="dialog" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 50px">
        <h4 class="modal-title" id="deleteEventModalLabel">Delete Event</h4>
        <button type="button" class="close" #closeBtn data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Do you want delete event {{deleteEventFlag?.name}}?</span>
        <div class="modal-footer">
          <button type="button" class="btn" style="background-color: #5A6268;color: white"
                  data-dismiss="modal">Close</button>
          <button (click)="deleteEvent(deleteEventFlag?.id)" type="submit" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add Event Modal-->
<!--Edit Event Modal-->
<div style=" width: 500px;height:780px;margin-left: 508px;margin-top: -20px" class="modal fade" id="editEventModal"
     tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 50px">
        <h4 class="modal-title" id="editEventModalLabel">Edit Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEdit" (ngSubmit)="onEditEvent(formEdit)">
          <div class="form-group">
            <div class="d-flex align-items-center">
              <input type="number" hidden name="id" class="form-control" required formControlName="id">
              <input type="text" hidden name="flag" class="form-control" required formControlName="flag">
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="d-flex align-items-center">
              <label style="width: 40%;" for="name">Name</label>
              <input style="border-radius: 8px" type="text" id="name1" name="name" class="form-control"
                     placeholder="Name" formControlName="name">
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="d-flex align-items-center">
              <label style="width: 40%;" for="location">Location</label>
              <input style="border-radius: 8px" type="text" id="location" name="location" class="form-control"
                     placeholder="Location" formControlName="location">
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="d-flex align-items-center">
              <label style="width: 40%;" for="startTime">Start Time</label>
              <input style="border-radius: 8px" type="datetime-local" id="startTime" name="startTime" class="form-control"
                     placeholder="Start Time" formControlName="startTime">
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="d-flex align-items-center">
              <label style="width: 40%;" for="endTime">End Time</label>
              <input style="border-radius: 8px" type="datetime-local" id="endTime" name="endTime" class="form-control"
                     placeholder="End Time" formControlName="endTime">
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="d-flex align-items-center">
              <label style="width: 40%;" for="exampleFormControlSelect1">Customer</label>
              <select style="border-radius: 8px" [compareWith]="compareCustomer" class="form-control"
                      id="exampleFormControlSelect1" formControlName="customer">
                <option [ngValue]="null" disabled>-- Select --</option>
                <option *ngFor="let customer of customerList" [ngValue]="customer">{{customer?.name}}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn" style="background-color: #5A6268;color: white"
                    data-dismiss="modal">Close</button>
            <button [disabled]="formEdit.invalid" type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div id="wrapper" >
<div id="main-container" class="main-content">
  <div class="row event-table">
        <div class="col-md-12 col-xs-12">
          <div class="card">
            <div class="card-header py-4">
              <h4 class="title text-secondy font-weight-bold">List event</h4>
<!--              <button (click)="onOpenModal(null, 'add')"  data-toggle="modal" data-target="#addCustomerModal"  class="btn btn-primary btn-addcustomer">Add Customer</button>-->
                <div class="form-field">
                  <input type="text" id="name" class="form-input" placeholder=" ">
                  <label for="name" class="form-label">Search</label>
                </div>
              </div>
            <div class="card-body"  style="padding: 0 1.25rem !important;">
              <div class="content">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th class="text-center">
                        Name
                      </th>
                      <th class="text-center">Location</th>
                      <th style="width: 10%" class="text-center">
                        Start Time
                      </th>
                      <th style="width: 10%" class="text-center">
                        Start End
                      </th>
                      <th class="text-center">Customer</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody >
                    <tr *ngFor="let event of eventList; let i = index">
                      <td class="text-center">
                        {{ i + 1 + (thePageNumber - 1) * thePageSize }}
                      </td>
                      <td class="align-middle text-center">
                        <a [routerLink]="['/admin/event/detail', event.id]">
                            <p style="color: black">{{ event.name }}</p>
                        </a>
                      </td>
                      <td class=" text-center">
                        <p >{{ event.location }}</p>
                      </td>
                      <td class=" text-center">
                        <span class="">{{ event.startTime | date: 'MMM d, y, hh:mm:ss a'  }}</span>
                      </td>
                      <td class=" text-center">
                        <span class="  ">{{ event.endTime | date: 'MMM d, y, hh:mm:ss a' }}</span>
                      </td>
                      <td  class=" text-center">
                        <p  class="mb-0">{{ event.customer.name }}</p>
                      </td>
                      <td   class="text-center   position-relative">
                        <div class="dropdown">
                          <i   style="cursor: pointer" class="fa-solid fa-ellipsis " data-toggle="dropdown" aria-expanded="false"></i>
                          <ul class="dropdown-menu">
                            <li  class="text-start py-2 cursor-pointer hover dropdown-item"
                                 data-toggle="modal" data-target="#addEventModal"
                                 (click)="onOpenModalEvent(null, 'add')">
                              <i class="fa-solid fa-plus mr-2"></i>
                              Create
                            </li>
                            <li class="text-left py-2 is-hover cursor-pointer dropdown-item"  data-toggle="modal" data-target="#editEventModal"
                                (click)="onOpenModalEvent(event, 'edit')">
                              <i class="fa-solid fa-pen" style="margin-right: 5px"></i>
                               Edit
                            </li>
                             <li  class="text-start py-2 cursor-pointer hover dropdown-item"
                                                            data-toggle="modal" data-target="#deleteEventModal"
                                  (click)="onOpenModalEvent(event, 'delete')" >
                                                            <i class="fa-solid fa-trash mr-2"></i>
                                                            Delete
                           </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="card-footer">
              <div *ngIf="eventList?.length == 0" class="alert alert-warning text-center" role="alert"
                style="background-color: #f2f2f2; color: black">
                <b>Event not found</b>
              </div>
              <div class="row" style="margin-left: -25px">
                <div class="col-md-4" style="padding: 25px">
                  <span>Show </span>
                  <select style="
                          height: 25px;
                          width: 50px;
                          --webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 5%),
                            0 1px 1px rgb(0 0 0 / 5%);
                          border-radius: 3px;
                        " class="form-control-md" (change)="updatePageSize($event.target.value)">
                    <option selected>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                  </select>
                  <span> entries</span>
                </div>
                <div class="col-md-4 text-center" style="padding: 25px">
                  <p>
                    Showing {{ (thePageNumber - 1) * thePageSize + 1 }} -
                    {{ itemPerPage }} of {{ theTotalElements }} entries
                  </p>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-end">
                  <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize"
                    [collectionSize]="theTotalElements" (pageChange)="getListEvent2()" [boundaryLinks]="true"
                    [maxSize]="3" [rotate]="true">
                  </ngb-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>


