<!--<div class="main-content" id="main-container">-->
<!--  <div class="row small-spacing">-->
<!--    <div class="col-xs-12">-->
<!--      <div style="position: relative" class="box-content">-->
<!--        <form class="mb-5" [formGroup]="formResetPassword" (ngSubmit)="onSubmit()">-->
<!--          <h2 class="text-center mt-2 mb-5 text" style="">Update password</h2>-->
<!--          <div class="ml-2">-->
<!--            <div formGroupName="passwordGroup">-->
<!--              <div class="input-group">-->
<!--                <label for="newPass">New password: <span class="text-danger">(*)</span></label>-->
<!--                <input id="newPass" type="password" formControlName="newPassword">-->
<!--                <div>-->
<!--                  <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.required && formResetPassword.get('passwordGroup').get('newPassword').touched">New password cannot be blank</p>-->
<!--                  <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.maxlength && formResetPassword.get('passwordGroup').get('newPassword').touched">New password can only contain up to 20 characters</p>-->
<!--                  <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.minlength && formResetPassword.get('passwordGroup').get('newPassword').touched">New password must contain at least 8 characters</p>-->
<!--                  <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.pattern && formResetPassword.get('passwordGroup').get('newPassword').touched">New password must contain at least one uppercase, one lowercase, one number and one special character - Example: Pass123124@</p>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="input-group">-->
<!--                <label for="confirmPass">Confirm password: <span class="text-danger">(*)</span></label>-->
<!--                <input id="confirmPass" type="password" formControlName="confirmPassword">-->
<!--                <div>-->
<!--                  <p class="text-warning" *ngIf="formResetPassword.hasError('invalidConfirmation',['passwordGroup']) && formResetPassword.get('passwordGroup').get('confirmPassword').touched">Re-enter the password that is not the same as the new password</p>-->
<!--                  <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('confirmPassword').errors?.required && formResetPassword.get('passwordGroup').get('confirmPassword').touched">Re-enter password can't be blank</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class=" button__container d-flex justify-content-center mt-5">-->
<!--            <button type="submit" class="bt btn__delete mr-5" [disabled]="formResetPassword.invalid" >Cai lai</button>-->
<!--            <button type="button" class="bt btn__cancel" routerLink="">Hủy</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />

 <div class="container d-flex align-items-center justify-content-center mt-20 py-10" style="font-family: 'Open Sans'">
                <div class="change-password card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Change Password</h1>

                                <div class="rules mt-4">
                                    <h6 class="mb-2">Passwords must contain:</h6>
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-check text-primary h5"></i>
                                            <span class="position-relative ">At least 8 characters
                                                <p class="line least-six line-active"></p>
                                            </span>

                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check text-primary h5"></i>
                                            <span class="position-relative ">At least 1 upper case letter (A-Z)
                                                <p class="line least-upper line-active"></p>
                                            </span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-check text-primary h5"></i>
                                            <span class="position-relative ">At least 1 lower case letter
                                                (a-z)
                                                <p class="line least-lower line-active"></p>
                                            </span>
                                        </li>
                                        <li><i class="fa-solid fa-check text-primary h5"></i>
                                            <span class="position-relative ">At least 1 number
                                                (0-9)
                                                <p class="line least-number line-active"></p>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form [formGroup]="formResetPassword" (ngSubmit)="onSubmit()">
                                  <div formGroupName="passwordGroup">
                                    <div class="form-group">
                                        <label >New Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control new-password" formControlName="newPassword">
                                            <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.required && formResetPassword.get('passwordGroup').get('newPassword').touched">New password cannot be blank</p>
                                            <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.maxlength && formResetPassword.get('passwordGroup').get('newPassword').touched">New password can only contain up to 20 characters</p>
                                            <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.minlength && formResetPassword.get('passwordGroup').get('newPassword').touched">New password must contain at least 8 characters</p>
                                            <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('newPassword').errors?.pattern && formResetPassword.get('passwordGroup').get('newPassword').touched && this.formResetPassword.value.passwordGroup.newPassword.length > 8 && this.formResetPassword.value.passwordGroup.newPassword.length < 20">New password must contain at least one uppercase, one lowercase, one number and one special character - Example: Pass123124@</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <div class="position-relative">
                                            <input type="password" class="form-control confrim-password" formControlName="confirmPassword">
                                            <p class="text-warning" *ngIf="formResetPassword.hasError('invalidConfirmation',['passwordGroup']) && formResetPassword.get('passwordGroup').get('confirmPassword').touched && this.formResetPassword.value.passwordGroup.confirmPassword !== ''">Re-enter the password that is not the same as the new password</p>
                                            <p class="text-warning" *ngIf="formResetPassword.get('passwordGroup').get('confirmPassword').errors?.required && formResetPassword.get('passwordGroup').get('confirmPassword').touched">Re-enter password can't be blank</p>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="d-flex align-items-center mt-5">
                                    <button class="btn btn-danger w-100 mr-2" routerLink="/login">Cancel</button>
                                    <button type="submit" class="btn btn-primary w-100" [disabled]="formResetPassword .invalid">Save</button>
                                  </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




