<div class="main-menu">
  <header class="header">
    <a routerLink="/admin/home" class="logo">Event QR Code</a>
    <button type="button" class="button-close fa fa-times js__menu_close"></button>
  </header>

  <div class="content">

    <div class="navigation">
      <ul class="menu js__accordion">
        <li routerLinkActive="active1" class="current">
          <a class="waves-effect" routerLink="/admin/home"><i
            class="menu-icon mdi mdi-view-dashboard"></i><span>Dashboard</span></a>
        </li>
        <li routerLinkActive="active1">
          <a class="waves-effect parent-item " routerLink="/admin/user/list"><i
            class="menu-icon mdi mdi-account-multiple"></i><span>User</span><span
            class="menu-arrow fa "></span></a>
          <ul class="sub-menu js__content">
          </ul>

        </li>
        <li routerLinkActive="active1">
          <a class="waves-effect parent-item " routerLink="/admin/event/list"><i
            class="menu-icon mdi mdi-cube-outline"></i><span>Event</span><span
            class="menu-arrow fa "></span></a>
          <ul class="sub-menu js__content">
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>

<!--<div class="main-menu">-->
<!--  <header class="header">-->
<!--    <a routerLink="/admin/home" class="logo">Event QR Code</a>-->
<!--    <button type="button" class="button-close fa fa-times js__menu_close"></button>-->
<!--  </header>-->
<!--  <div class="content">-->
<!--    <div class="navigation">-->
<!--      <ul class="menu js__accordion">-->
<!--        <li routerLinkActive="active1" class="current">-->
<!--          <a class="waves-effect" routerLink="/admin/home">-->
<!--            <i class=" menu-icon mdi fa-solid fa-users"></i><span>Dashboard</span></a>-->
<!--        </li>-->

<!--        <li routerLinkActive="active1" class="">-->
<!--          <a class="waves-effect"  routerLink="/admin/user/list">-->
<!--            <i class=" menu-icon mdi fa-solid fa-users"></i>-->
<!--            <span>User</span></a>-->
<!--        </li>-->
<!--        <li routerLinkActive="active1" class="">-->
<!--          <a class="waves-effect" routerLink="/admin/event/list">-->
<!--            <i class=" menu-icon mdi fa-solid fa-users"></i><span>Event</span></a>-->
<!--        </li>-->


<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
