

<div class="position-relative"
style="width: 100%;height: 100vh; background-image: url(../../../assets/images/dtu.jpg); background-repeat: no-repeat; background-size: cover; background-position: top;">
<div class="container" >
    <div style="width: 500px" class="card login">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-5 position-relative">
                <h2 class="heading-section mt-3">DTU EVENT</h2>
                <img style="width: 100px; margin-top: 10px;"
                    src="https://cdn.duytan.edu.vn/upload/images/logoDT-70.png" alt="">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 ">
                <div class="login-wrap p-0 ">
                    <h3 class="mb-4 text-center">Have an account?</h3>
                    <form class="signin-form" [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="username" placeholder="Username" >
                          <small class="fs-6 text__error" style="color: transparent">small</small>
                      <small class="fs-6 text__error"
                             style="color: red; margin-left: -35px;"
                             *ngIf="loginForm.get('username').errors?.required && (loginForm.get('username').dirty ||loginForm.get('username').touched) && checkUserName == false">
                        Username can't be empty
                      </small>
                      <small class="fs-6 text__error"
                             style="color: red; margin-left: -35px;"
                             *ngIf="this.loginForm.value.username === '' && checkUserName == true">
                        Username can't be empty
                      </small>   </div>
                        <div class="form-group position-relative">
                            <input class="password-field" id="password-field" type="password" class="form-control"
                                placeholder="Password" formControlName="password" >
                            <span toggle="#password-field"
                                class="fa fa-fw fa-eye field-icon toggle-password"></span>
                          <small class="fs-6 text__error" style="color: transparent">small</small>
                      <small class="fs-6 text__error" style="color: red;margin-left: -35px;"
                             *ngIf="loginForm.get('password').errors?.required && (loginForm.get('password').dirty ||loginForm.get('password').touched) && checkPassWord == false">
                        Password can't be empty
                      </small>
                      <small  class="fs-6 text__error"
                             style="color: red;margin-left: -35px;"
                             *ngIf="this.loginForm.value.password === '' && checkPassWord == true">
                        Password can't be empty
                      </small>
                          <small class="fs-6 text__error" style="color: red;margin-left: -35px;" *ngIf="errorMessage">The username or password is incorrect</small>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit p-4">
                                <p style="margin-top: -12px; font-weight: bold;"> Sign In </p>
                            </button>
                        </div>
                        <div class="form-group d-flex align-items-center">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">Remember Me
                                    <input value="1" formControlName="remember_me" type="checkbox" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="w-50 text-right mb-3">
                                <a routerLink="/reset-password" style="color: #fff">Forgot Password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="overlay"></div>
