<div class="fixed-navbar d-flex align-items-center justify-content-between">
    <div class="pull-left d-flex">
        <button style="background-color: white" type="button" class="menu-mobile-button js__menu_mobile ">
            <i style="color: #012970" class="fa-solid fa-bars "></i>
        </button>
        <nav>
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark">Pages</a>
                </li>
                <li class="breadcrumb-item text-sm text-dark active">Dashboard</li>
            </ol>
            <h6 class="font-weight-bolder mb-0 text-dark">Dashboard</h6>
        </nav>
    </div>
    <div class="pull-right">
        <div class="ico-item toggle-hover js__drop_down ">
            <div class="avatar js__drop_down_button d-flex align-items-center">
                <a  class=" font-weight-bold mr-2">
                    <span style="color: #012970" class="text-sm ">Hello, {{userName}}</span>
                </a>
              <div style="height: 70px;">
                <ngx-avatar gravatarId="{{email}}" size="40"></ngx-avatar>
              </div>
            </div>
            <div class="toggle-content">
                <ul class="d-flex flex-column">
                    <li class="hover">
                        <a routerLink="/admin/update/password" class="d-flex">
                            <i class="fa-solid fa-gear mr-2"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li class="hover" (click)="logout()">
                        <a class="d-flex">
                            <i class="fa-solid fa-right-from-bracket mr-2"></i>
                            <span class="txt">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

