<!--<div class="main-content" id="main-container">-->
<!--  <div class="row small-spacing">-->
<!--    <div class="col-xs-12">-->
<!--      <div style="position: relative" class="box-content">-->
<!--        <form class="mb-5" [formGroup]="passwordForm" (ngSubmit)="changePassword()">-->
<!--          <h2 class="text-center mt-2 mb-5 text" style="">Update password</h2>-->
<!--          <div class="ml-2">-->
<!--            <div class="input-group mt-2">-->
<!--              <label for="oldPass">Old password: <span class="text-danger">(*)</span></label>-->
<!--              <input id="oldPass" type="password" formControlName="oldPassword">-->
<!--              <div>-->
<!--                <p class="text-warning" *ngIf="passwordForm.get('oldPassword').hasError('required') && passwordForm.get('oldPassword')?.touched">Old password cannot be left blank</p>-->
<!--                <p class="text-warning" *ngIf="error && check == true"> Old password is incorrect</p>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div formGroupName="passwordGroup">-->
<!--              <div class="input-group">-->
<!--                <label for="newPass">New password: <span class="text-danger">(*)</span></label>-->
<!--                <input id="newPass" type="password" formControlName="newPassword">-->
<!--                <div>-->
<!--                  <p class="text-warning" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.required && passwordForm.get('passwordGroup').get('newPassword').touched">New password cannot be blank</p>-->
<!--                  <p class="text-warning" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.maxlength && passwordForm.get('passwordGroup').get('newPassword').touched">New password can only contain up to 20 characters</p>-->
<!--                  <p class="text-warning" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.minlength && passwordForm.get('passwordGroup').get('newPassword').touched">New password must contain at least 8 characters</p>-->
<!--                  <p class="text-warning" *ngIf="passwordForm.get('passwordGroup').get('newPassword').errors?.pattern && passwordForm.get('passwordGroup').get('newPassword').touched">New password must contain at least one uppercase, one lowercase, one number and one special character - Example: Pass123124@</p>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="input-group">-->
<!--                <label for="confirmPass">Confirm password: <span class="text-danger">(*)</span></label>-->
<!--                <input id="confirmPass" type="password" formControlName="confirmPassword">-->
<!--                <div>-->
<!--                  <p class="text-warning" *ngIf="passwordForm.hasError('invalidConfirmation',['passwordGroup']) && passwordForm.get('passwordGroup').get('confirmPassword').touched">Re-enter the password that is not the same as the new password</p>-->
<!--                  <p class="text-warning" *ngIf="passwordForm.get('passwordGroup').get('confirmPassword').errors?.required && passwordForm.get('passwordGroup').get('confirmPassword').touched">Re-enter password can't be blank</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class=" button__container d-flex justify-content-center mt-5">-->
<!--            <button type="submit" class="bt btn__delete mr-5" [disabled]="passwordForm.invalid" >Change Password</button>-->
<!--            <button type="button" class="bt btn__cancel" routerLink="">Return</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

