<div>
  <!--textarea-->
  <div class="modal fade" id="textarea" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Import User</h5>
          <button type="button" #closeBtn class="close" data-dismiss="modal" aria-label="Close">
            <span (click)="resetForm()" aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="formImport" (ngSubmit)="importStudent(formImport)">
        <div class="modal-body">

<!--          <textarea  formControlName="student" name="" placeholder="Enter heard..." class="form-control"-->
<!--                    cols="200" rows="5"-->
<!--                    style="border: 1px solid black !important"></textarea>-->
          <input  type="file" class="form-control-file" (change)="showPreview($event)">
          <input type="hidden" formControlName="id" >
        </div>
        <div class="modal-footer">
          <button type="button" (click)="resetForm()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!--textarea-->

</div>
<div id="main-container" class="main-content">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center image-cus">
                        <img class="img-fluid rounded-circle"
                            [src]="event.customer.avatar"
                            alt="" />
                    </div>
                    <div class="card-body">
                        <h6 class="name-event font-weight-bold">
                            {{event.name}} - <strong>{{event.customer.name}}</strong>
                        </h6>
                        <p>{{event.location}}</p>
                        <div class="time-event">
                            <div class="start text-sm">
                                <label class="" for=""><b>Start: </b></label>
                                <span class=""> {{event.startTime | date: 'MMM d, y, hh:mm:ss a' }}</span>
                            </div>
                            <div class="end text-sm">
                                <label class="" for=""><b>End  : </b></label>
                                <span class=""> {{event.endTime | date: 'MMM d, y, hh:mm:ss a' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-12 col-xl-12 mb-5">
                        <div class="card " style="max-height: 545px">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-md-8 d-flex align-items-center">
                                        <h6 class="mb-0 font-weight-bold "><i
                                                class="fa-solid fa-comments mr-2"></i>Content
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <div class="row px-4 mb-3">
                                    <div class="form-group">
                                        <textarea disabled name="" placeholder="Enter heard..." class="form-control" id=""
                                            cols="200" rows="5"
                                            style="border: none; background-color: transparent">{{event.content}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12">
                        <div class="card" style="max-height: 320px; ">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-md-8 d-flex align-items-center">
                                        <h6 class="mb-0 font-weight-bold "><i
                                                class="fa-brands fa-usps pr-2"></i>List Checked
                                        </h6>
                                    </div>
                                    <div class=" col-md-4 text-right">
                                      <div class="dropdown">
                                        <i
                                          class="fa-solid fa-ellipsis-vertical text-secondary text-sm cursor-pointer edit-profile"  data-toggle="dropdown" aria-expanded="false"
                                        ></i>
                                        <ul class="dropdown-menu detail-event-show">
                                          <li (click)="import()" class="text-left is-hover dropdown-item py-2 cursor-pointer" >
                                            <i style="color: #344767 !important;" class=" fa-solid fa-plus" ></i>
                                            <b  style="color: #344767 !important;" class="text-dark" > Import</b>
                                          </li>
                                          <li (click)="export(id)" class="text-left is-hover dropdown-item py-2 cursor-pointer" >
                                            <i style="color: #344767 !important;" class=" fas fa-file-pdf" ></i>
                                            <b style="color: #344767 !important;" class="text-dark "  > Export</b>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3 scroll-y">
                                <div class="row px-4 mb-3 hover d-flex justify-content-between"
                                    *ngFor="let event1 of eventList">
                                    <div class="d-flex col-md-8">
                                        <img class="img-fluid img-cus"
                                             [src]="event.customer.avatar"
                                            alt=""  style="width: 56px; height: 56px"
                                        />
                                        <div class="infor-cus ml-3">
                                            <h6 class="font-weight-bold">{{event1.user.name}}</h6>
                                            <p style="font-size: 14px;">Successfully checked in
                                            </p>
                                        </div>
                                    </div>
                                    <div class="date-check col-md-4 text-right">
                                        <small class="">{{event1.checkin | date: 'MMM d, y, hh:mm:ss a'}}</small>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
