
/* css forgot password */
.forgot {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.forgot::after {
    content: "";
    position: absolute;
    background: #000;
    height: 120%;
    width: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    border-radius: 10px;
    z-index: -1111;
}


.forgot input:hover {
    background-color: transparent ;
    border: 1px solid #f8f9fa;
}


.forgot input::placeholder {
    color: #fff;
}


.forgot input:focus {
    background-color: transparent;
}

.forgot .card {
    background: transparent !important;
    color: #fff;
}

.forgot input {
    background: transparent;
    border: none;
    height: 50px;
    color: white !important;
    border: 1px solid #767575;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.container h2 {
    color: #fff;
    font-weight: 600;
}

.container h4 {
    font-size: 16px;
    color: #ea0606;
    font-weight: 600;
}

.container form {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container form .btn {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    border-radius: 10px;
    border: none;
}

.container form .btn-primary {
    background: linear-gradient(310deg, #7928ca, #ff0080);
}

.container form .btn-primary:hover {
    opacity: 0.8;
}



